Account/*
Charfile/*
Logs/*
Foros/*
**/build/**
WorldBackup/*
Codigo/*.log
Guilds/*
.DS_Store
*.vbw
*.csi
*.OBJ
*.ldb
*.exp
*.lvw
*.lib
*.dca
*.scc
*.tmp
bkNpcs.dat
server.exe
Server.ini
Database.ini
Database.db-shm
Database.db-wal
Logs/numusers.log
feature_toggle.ini
Logs/numusers.log
