Account/*
Charfile/*
Logs/*
Foros/*
**/build/**
WorldBackup/*
Codigo/*.log
Guilds/*
.DS_Store
*.vbw
*.csi
*.OBJ
*.ldb
*.exp
*.lvw
*.lib
*.dca
*.scc
*.tmp
bkNpcs.dat
server.exe
Server.ini
Database.ini
Database.db-shm
Database.db-wal
Logs/numusers.log
Configuracion.ini
feature_toggle.ini
Logs/numusers.log
Database.db
AoServerTools.dll
AOACServer.pdb
.aider*
.kiro/
test_results.txt
node_modules/
package-lock.json
vb6build.log
*.pdb
/dumps
_assets
